.container {
    width: 300px;
    margin: auto;
}

.login {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 8px;
    padding: 16px;
    border: solid 1px #aaa;
    border-radius: 6px;
}
