.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border:solid 1px #bbb;
    border-radius: 6px;

    margin: 6px;
    padding: 16px;

    min-width: 250px;

    color:#fff;
}

.card > h2 {
    margin: 2px;
    font-size: 0.9em;
}

.card-update {
    color: #ddd;
    font-size: 0.8em;
}

.card-data{
    font-size: 2.5em;
}

.good {
    background-color: #32cd32;
}

.hot {
    background-color: #FF7B36;
}

.cold {
    background-color: #00D3FF;
}

.infos {
    background-color: #647c90 ;
}